<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submitted</title>
</head>
<body>
    <img
    class="img-fluid"
    style="height: 360px; width: 100%; object-fit: cover;"
    src="\static\job_cover.jpg"
    alt="Random Career Image"
    />
    <div class="container">
        <h4>Full Name</h4>
        <div>{{application['full_name']}}</div>
        <h4>Email</h4>
        <div>{{application['email']}}</div>
    </div>
</body>
</html>